<div>
    {{#each responseFromAPI}}
    
        <div>
            <img src="{{this.image_url}}" alt="{{this.name}}"/>
        </div>
        <p>
        {{this.name}}
        <br>
        {{this.description}}
        <br>
        {{this.tagline}}
        <br>
        {{this.food_pairing}}
        <br>
        {{this.brewers_tips}}
        <br>
    </p>
    {{/each}}
</div>